@model AddEmployeeViewModel
  

@{
}
<h1>Add Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
    <label for="Email" class="form-label">Email Address</label>
    <input type="email" class="form-control" asp-for="Email">
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

    <div class="mb-3">
    <label for="Phone" class="form-label">Phone</label>
    <input type="number" class="form-control" asp-for="Phone">
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="DateofBirth" class="form-label">Date Of Birth</label>
    <input type="date" class="form-control" asp-for="DateofBirth">
    <span asp-validation-for="DateofBirth" class="text-danger"></span>
</div>

<div class="mb-3">
    <label for="Department" class="form-label">Department</label>
    <input type="text" class="form-control" asp-for="Department">
    <span asp-validation-for="Department" class="text-danger"></span>
</div>


  <button type="submit" class="btn btn-primary">Submit</button>

 <button type="submit" class="btn btn-danger"
 asp-action="Delete"
 asp-controller="Employees">Delete</button>
</form>
@section scripts {
    <partial name="_ValidationScriptsPartial" />
}